:root {
    --green-lighter: hsl(148, 38%, 91%);
    --green-medium: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --grey-medium: hsl(186, 15%, 59%);
    --grey-darker: hsl(187, 24%, 22%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--green-lighter);
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-size: 0.8rem;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.contact-form {
    width: clamp(270px, 50%, 18rem);
    height: 610px;
    background-color: var(--white);
    padding: 1rem;
    margin: 3rem auto;
    border: 1px solid var(--grey-medium);
    border-radius: 16px;
}

.contact-form h1 {
    font-size: 1.2rem;
    font-weight: 600;
    padding-inline-start: 1rem;
    letter-spacing: 1px;
}

.feildset-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.3rem;
    padding-inline-start: 1rem;
}

.contact-form input[type="text"],
input[type="email"] {
    width: 90%;
    height: 2rem;
    border: 2px solid var(--grey-medium);
    border-radius: 8px;
    padding: 5px;
    text-align: center;
}

input[type="text"]:hover {
    border: 2px solid var(--green-medium);
    cursor: pointer;
}

input[type="text"]:focus {
    outline: none;
    border: 2px solid var(--green-medium);
}

input[type="email"]:hover {
    border: 2px solid var(--green-medium);
    cursor: pointer;
}

input[type="email"]:focus {
    outline: none;
    border: 2px solid var(--green-medium);
}

.contact-form sup {
    margin-inline-start: 0.2rem;
    font-weight: 700;
    color: var(--green-medium);
}

.feildset-query-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-inline-start: 1rem;
    border: none;
    gap: 0.3rem;
}

.feildset-query-type div {
    display: flex;
    align-items: center;
    border: 2px solid var(--grey-medium);
    border-radius: 5px;
    width: 90%;
    padding: 8px;
    padding-inline-start: 1.5rem;
    gap: 1rem;
    margin-block-end: 0.5rem;
}

.feildset-query-type #Message {
    padding: 5px;
    white-space: normal;
    border: 2px solid var(--grey-medium);
    border-radius: 5px;
}

.feildset-query-type #Message:hover {
    border: 2px solid var(--green-medium);
    cursor: pointer;
}

.feildset-query-type #Message:focus {
    outline: none;
    border: 2px solid var(--green-medium);
}

.div-checkbox-contacte {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0.8rem;
    font-size: 0.7rem;
}

#btn-submit {
    width: 88%;
    height: 2.2rem;
    border: 2px solid var(--grey-medium);
    border-radius: 8px;
    background-color: var(--green-medium);
    color: var(--white);
    font-weight: 600;
    letter-spacing: 1px;
    margin-inline-start: 0.8rem;
    outline: none;
}

#btn-submit:hover {
    border: 2px solid var(--green-medium);
    cursor: pointer;
    background-color: var(--grey-darker);
}

#btn-submit:focus {
    border: 2px solid var(--green-medium);
    background-color: var(--grey-darker);
}
